<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/msg}" th:object="${newLogin}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}">
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>